@import "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";
@import "https://fonts.googleapis.com/css2?family=Trirong&display=swap";

html,
body {
  padding: 0;
  margin: 0;
  color:#fff;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  background: #000;
}

.main{
  display: table;
}

.beba-font{
  font-family: 'Bebas Neue';
  font-weight: 400;
}
.play-fair-font{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar{
  background-color: #333333;
  width: auto;
  color: #fff;
  font-size: 18px;
  z-index: 10;
  position: fixed;
  width: 100%;
}
.logo-section{
  margin-bottom: 10px !important;
  margin-left: 50px !important;  
  display: inline-block;
  position: relative
}
.title{
  display: inline-block;
  padding-left: 50px !important;
  /* padding-top: 20px !important; */
}
.main-title{
  font-size: 40px;
  color: #fff;
  margin: 0;
  line-height: 53px;  
}
.secondary-title{
  font-size: 22px;
  color: #fff;
  margin: 0;
  text-align: right;
}

.nav-burger{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.nav{
  display: inline-block;
  width: auto;
  right: 138px;
  position: absolute;
  top: 31px;
}
.nav-active{
  text-decoration: underline;
}

.nav-title{
  cursor: pointer;
}
.nav>ul{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: block;
  text-align: right;
}
.nav>ul>li{
  display: inline;
  text-align: right;
  padding-left: 30px;
  padding-right:30px;
}
.flags{
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
  padding-right:30px;
  position: absolute;
  right: 50px;
}
.flag{
  width:30px;
}
.home{
  position: relative;
  height: auto;
}

.bg-main{
 position: absolute;
}

h1.slogan{
  position: absolute;
  /* padding-left: 50px; */
  bottom: 100px;
  margin: 0;
  font-weight: 400;
  font-size: 10vw;
  padding-left: 20px;
}

.contact-button{
  color:#fff;
  position: absolute;
  /* margin-left: 80%; */
  width: 190px;
  height: 60px;
  bottom: 50px;
  right:50px;
  font-size: 25px;

  background: #333333;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
}
.white-line{
  position: relative;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.prestation{
  padding: 50px;
  background-color: #000;
}
.prestation-grid-top { 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 30px;
    grid-row-gap: 10px; 
  }
.presta-top-left { grid-area: 1 / 1 / 2 / 5; } 
.presta-top-right { grid-area: 1 / 7 / 2 / 13; } 

/* .prestation-grid-bottom { 
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(1, 1fr); 
  grid-column-gap: 30px;
  grid-row-gap: 10px;
} */

.caroussel{
padding-top: 50px;

}

.rec.rec-arrow:disabled {
  display:none
}

.rec.rec-arrow:hover:enabled, .jRFJkP:focus:enabled {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #333;
}

/* .rec.rec-arrow:focus:enabled {
  background-color: #fff
} */

.first-card { grid-area: 1 / 1 / 2 / 4; } 
.second-card { grid-area: 1 / 4 / 2 / 7; } 
.third-card { grid-area: 1 / 7 / 2 / 10; } 
.fourth-card { grid-area: 1 / 10 / 2 / 13; } 
.card{
  background-color: #333333;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  margin: auto;
  text-align: center;
}
.card-text{
  padding: 20px;
}
.prestation-title{
  padding: 30px;

}
.prestation-title-main{
  padding: 0;
  margin: 0;
}
.prestation-title-secondary{
  margin: 0;
  padding: 0;
  text-align: right;
}
.prestations-list{
  background-color: #333333;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 30px;
  line-height: 22px;
}
.prestations-list-title{
  font-size: 18px;
  display: inline;
}
.prestations-list-text{
  font-size: 14px;
  display: inline;
}
.prestation-border{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.card-line{
  margin: auto;
  width: 50%;
  height: 3px;
  background-color: #fff;
}
.text-card{
  font-size: 14px;
}

.reservation{
  background-image: url('../public/Images/road.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reservation-section {
  padding: 20px;
  width: 100%; 
  height: 100%;
  top:0;
  position: relative; 
  padding: 50px;
display: grid; 
grid-template-columns: repeat(12, 1fr); 
grid-template-rows: repeat(5, 1fr); 
grid-column-gap: 10px;
grid-row-gap: 10px; 
}
.title { grid-area: 1 / 1 / 2 / 5; } 
.res-icons { grid-area: 2 / 2 / 4 / 3; } 
.pick-up { grid-area: 2 / 3 / 3 / 9; } 
.drop-off { grid-area: 3 / 3 / 4 / 9; } 
.date-time { grid-area: 2 / 10 / 3 / 12; } 
.options { grid-area: 3 / 10 / 4 / 12; } 
.val-km { grid-area: 4 / 4 / 6 / 7; } 
.val-eur { grid-area: 4 / 7 / 6 / 10; }



.input{
  background: #333333;
  border-radius: 50px;
  border: none;
  width: 645px;
  height: 80px;
  font-size: 20px;
  color: #fff;
  text-indent: 10px;
  

}
.result{
  font-size: 30px;
  text-align: center;
}
.input-date{
  background: #333333;
  color: #fff;
  border: none;
  width: 193px;
  height: 40px;
  border-radius:25px 25px 0 0 ;
  text-indent: 10px
}
.input-time{
  background: #333333;
  color: #fff;
  border: none;
  width: 193px;
  height: 40px;
  border-radius:0 0 25px 25px;
  text-indent: 10px;
}
p.result-quot{
  margin: 0;
  position: relative;
  bottom: 180px
}


.elipsefill-res{
  position: relative;
  display: inline-block;
  right: 30px;
}

.elipse-top{
  bottom:10px
}

.elipse-bottom{
  bottom:140px
}

.point-res,.elipse-res{
  position: relative;
  display: inline-block;
  bottom: 61px;
  right: 50px;
  /* width: 44px; */
  align-items: center;
}

.icon-search{
  /* margin: 0; */
  display: inline-block;
  position: relative;
  bottom: 60px;
  left: 540px;
  width: 44px;
  align-items: center;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin-right: 30px;
}

.contact{
  /* position: relative;
  height: auto; */
  /* padding: 50px; */
  /* background-color: #000; */
  background-image: url('../public/Images/french_riviera.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg{
  z-index:0
}

.contact-section{
  position: relative;
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contact-left { 
  grid-area: 1 / 1 / 2 / 7;
}

.contact-title{
  padding: 30px;
  color: #000;
  width: auto;
  max-width: 350px;
}
.contact-title>.prestation-border{
  background: #000;
}
.contact-right {
  /* position: absolute;  */
  grid-area: 1 / 7 / 5 / 13;
  background-color: #333333;
  opacity: 0.9;
  font-size: 18px;
  line-height: 34px;
  /*max-height: 600px; */
  z-index: 0;
 }
 
 .contact-card{
  top: 40%;
  left: 5%;
  width: 60%;
  height: auto;
  background: rgba(51, 51, 51, 0.9);
  border-radius: 30px;
  margin: 100px auto;
  padding: 10px;
 }

 .profile-pic{
   margin: auto;
   position: absolute;
   top: 30%;
   left: 5%;
 }

 .contact-card-content{
  text-align: center;
 }

 .infos-contact{
  font-family: 'Trirong';
 }

.footer{
  position: relative;
  background: #333333;
  display: grid;
  padding: 25px 50px 0 50px;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(1, 1fr);
  padding-bottom: 10px;
}
.footer-left{
  grid-area: 1 / 1 / 2 / 6;
  font-size: 15px;
  line-height: 33px;
  letter-spacing: 0.1px;
}
.footer-right{
  grid-area: 1 / 8 / 2 / 13;
  font-size: 15px;
  line-height: 33px;  
  letter-spacing: 0.1px;
}

.icon{
  margin-top: 50px;
  height: 30px;
  width: 50px;
  align-items: center;
}



@media screen and (max-width: 1175px) { /* Little screen */
.nav>ul>li{
  padding-left: 10px;
  padding-right: 10px;
  }
  .main-title{
    font-size: 30px;
  }
  .input{
    width: 500px;
  }
  .icon-search{
    left: 450px;
  }

  .contact-card{
    /* width: 546px;
    height: 258px; */
    width: 60%;
    height: auto;
  }
  .contact-right{
    font-size: 15px;
    line-height: 33px;  
    letter-spacing: 0.1px;
  }
}



@media screen and (max-width: 1024px) { /* Tablet horizontal */
  p.result-quot{
    margin: 0;
    position: relative;
    bottom: 150px
  }

  .elipse-top{
  bottom:30px
}

.elipse-bottom{
  bottom:120px
}

.icon-search{
  left: 400px;
}

}

@media screen and (max-width: 960px) { /*Nav title and menu touching */

  .nav-burger{
    display: inline-block;
    margin-right: 50px;
    
  }
  .nav-burger>svg{
    width:50px;
    height: 50px;
  }
  .nav{
    display: block;
    position: relative;
    right: auto;
    width: 100%;
    background-color: #333;
  }

  .nav>ul>li{
    display: block;
    position: relative;
    text-align: center;
    border-top: solid 1px #fff;
    height: 50px;
    padding-top: 10px;

  }

  .prestation-grid-top { 
    display: block; 
  }

  .reservation-section {
  padding: 20px;
  width: 100%; 
  height: 100%;
  top:0;
  position: relative; 
  padding: 50px;
display: grid; 
grid-template-columns: repeat(12, 1fr); 
grid-template-rows: repeat(6, 1fr); 
grid-column-gap: 10px;
grid-row-gap: 10px; 
}
.title { grid-area: 1 / 1 / 2 / 12; } 
.res-icons { grid-area: 2 / 2 / 4 / 3; } 
.pick-up { grid-area: 3 / 3 / 4 / 9; } 
.drop-off { grid-area: 4 / 3 / 5 / 9; } 
.date-time { grid-area: 2 / 5 / 3 / 7; } 
.options { grid-area: 3 / 10 / 4 / 12; } 
.val-km { grid-area: 5 / 4 / 7 / 7; } 
.val-eur { grid-area: 5 / 7 / 7 / 10; }

.contact-section{
  display: block;
}

.contact-title{
  max-width: 100%;
}

p.result-quot{
  margin: 0;
  position: relative;
  bottom: 150px
}

}


@media screen and (max-width: 768px) { /* Tablet */
  p.result-quot{
    margin: 0;
    position: relative;
    font-size: 24px;
    bottom: 100px;
  }

  .reservation-section {
    padding: 20px;
    width: 100%; 
    height: 100%;
    top:0;
    position: relative; 
    padding: 50px;
  display: grid; 
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(6, 1fr); 
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
  }
  .title { grid-area: 1 / 1 / 2 / 9; } 
  .pick-up { grid-area: 3 / 2 / 4 / 9; } 
  .drop-off { grid-area: 4 / 2 / 5 / 9; } 
  .date-time { grid-area: 2 / 4 / 3 / 6; } 
  .options { grid-area: 3 / 10 / 4 / 8; } 
  .val-km { grid-area: 5 / 2 / 7 / 4; } 
  .val-eur { grid-area: 5 / 6 / 7 / 8; }

  p.result-quot{
    margin: 0;
    position: relative;
    font-size: 24px;
    bottom: 80px;
  }

}


@media screen and (max-width: 640px) { /* Phone */

 
}